---
const { href, label } = Astro.props;

const isActive = href === Astro.url.pathname;
---

<a
  href={href}
  class:list={[
    "px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200",
    {
      "bg-slate-800 text-orange-500": isActive,
      "text-slate-300 hover:bg-slate-700 hover:text-white": !isActive,
    },
  ]}
  aria-current={isActive ? "page" : false}
>
  {label}
</a>
