---
import NavigationBar from "../components/navbar/NavigationBar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SportHub</title>
  </head>
  {
    (
      <body class="bg-white dark:bg-slate-900 text-slate-800 dark:text-slate-200 transition-colors duration-300">
        <NavigationBar />
        <slot />
      </body>
    )
  }

  <style is:global>
    /* Poți păstra stilurile globale care NU sunt legate de Tailwind aici */
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
